<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BabyPlans.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18FD4B2C1CAE34DD00ACD4BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18FD4B451CAE34DD00ACD4BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18FD4B501CAE34DD00ACD4BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
